* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide {
  visibility: hidden !important;
}

.App {
  
  background-color: #0C0F1A;
  min-height: 875px;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}
