.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-area {
  
  position: relative;

  height: auto;
}

.freeman-border {
  position: absolute;
  left: 84%;
  top: 9.1%;
  width: 3%;
  height: 7%;
  border: 2px solid rgb(13, 0, 255);
}

.pikachu-border {
  position: absolute;
  left: 60%;
  top: 1.5%;
  width: 4.2%;
  height: 7%;
  border: 2px solid rgb(0, 255, 72);
}

.little-big-border {
  position: absolute;
  left: 30.4%;
  top: 79.7%;
  width: 3.3%;
  height: 8.4%;
  border: 2px solid rgb(0, 247, 255);
}

.freeman-border,
.pikachu-border,
.little-big-border {
  pointer-events: none;
}

.play-area > img {
  box-shadow: 10px 8px #436CD2;
  max-width: 1500px;
  width: 100%;
  height: auto;
}

.success-container,
.fail-container {
  color: white;
  padding: 5px;
  box-shadow: 3px 3px #ffffff;
  position: fixed;
  top: 35%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}


.fail-container {
  background-color: #E95664;
}

.success-container {
  background-color: rgb(26, 213, 9);

}