.header-container {


  border: 1px solid red;
  padding: 10px;
}

.header-container > .title {
  display: flex;
}

.left {
  box-shadow: -5px -5px #F0CFB7;
  padding: 3px;
  color: white;
  background-color: #4D70D7;
}

.right {
  margin-left: 3px;
  color: #7FFFD4;
align-self: flex-start;
  font-size: 0.5em;
}



