.header-container {
  display: flex;
  justify-content: center;
}

.header-container > .title {
  width: min(1500px, 100vw);
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.left {
  box-shadow: -5px -5px #f0cfb7;
  padding: 3px;
  color: white;
  background-color: #4d70d7;
}

.right {
  margin-left: 3px;
  background-color: #4d70d7;
  box-shadow: 2px -2px #f0cfb7;
  color: #7fffd4;
  align-self: flex-start;
  font-size: 0.5em;
}
