.picker-container {
  transform: translate(-50%, -110%);
  position: absolute;
  background-color: yellow;
  visibility: visible;

  opacity: 1;
  
}

.picker-container > ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
