.win-screen-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(255, 192, 203, 0.243);
  z-index: 3;
}

.win-screen-container > .win-screen {
  padding: 10px;
  transform: translateY(-50%);
  background-color: #4d70d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  opacity: 1;
  transition: all 0.5s;
}

.win-screen > .title {
  font-weight: bold;
  font-size: 2.8em;
  color: white;
  position: relative;
}

.title > .shadow {
  right: -2px;
  bottom: -2px;
  position: absolute;
  background-color: red;
  width: 20px;
  height: 20px;
  z-index: -1;
}

.score {
  font-weight: bold;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.score .text {
  font-size: 0.95em;
  color: white;
  z-index: 1;
}

.score .time {
  color: white;
  box-shadow: 5px -5px #f0cfb7;
  background-color: #6fc3da;
  font-size: 1.5em;
}

.name-form {
  color: white;
  font-weight: bold;
  align-self: center;
  font-size: 1.3em;

  display: flex;
  flex-direction: column;
  z-index: 2;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.name-form > input {
  padding: 3px;
  font-size: 1em;
  box-shadow: 5px -5px #f0cfb7;
  border: none;
  height: 30px;
}

.name-form > input:focus {
  outline: none;
  box-shadow: 0px 0px #f0cfb7;
  transition: all 0.5s;
}

.name-form > input:hover {
  background-color: rgb(227, 227, 227);
  transition: all 0.5s;
}

.restart {
  color: white;
  background-color: #ed8337;
  margin: 5px;
  margin-bottom: -5px;
  width: 150px;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  height: 35px;
  transition: all 0.1s ease-out;
}

.restart:hover {
  box-shadow: 3px 3px #ffffff;
  transform: translate(-3px, -3px);
}

.restart:active {
  transform: translate(0px, 0px);
  box-shadow: 0px 0px #ffffff;
}