.win-screen-container {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(255, 192, 203, 0.243);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.win-screen-container > .win-screen {
  transform: translateY(-20vh);
  border: 1px solid green;
  background-color: rgba(127, 255, 212, 0.594);
  display: flex;
  flex-direction: column;
  align-items: center;
}


